body {
    font-family: sans-serif;
    margin: 0%;
    height: 100%;
    width: 100%;
    padding: 5px;
    background-color: #ffffff;
    background-image: url("../imagenes/texturaFondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

header {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    width: 98%;
    height: 100px;
    background-color: #05353B;
    background-image: url(../imagenes/fondoHeader.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-around;
    padding: 10px;
    align-items: center;

}


nav {
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;


}

nav>ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;

}

nav>ul>li {
    align-items: center;

}


nav>ul>li>a {
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    justify-content: space-between;
    margin: 10px;


}

nav>ul>li>a:hover {

    color: gray;

}

header>h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border-color: black;
    align-content: center;


}

.logo {
    display: flex;
    align-items: center;
}

.logoImagen {
    height: 100px;
    justify-content: left;
    border-radius: 25px;

}

.ofertas {
    height: flex;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(60, 123, 241);
    margin-top: 2%;
    border-radius: 25px;
    opacity: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    align-content: space-around;
}

.historia {
    height: 400px;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(245, 230, 230);
    background-image: url("../imagenes/solArgentina.png");
    background-repeat: no-repeat;
    background-size:  70% ;
    background-position: center;
    margin-top: 2%;
    border-radius: 25px;
    opacity: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.historia >h2{
    width: 100%;
    text-align: center;
    font-size: 2em;
    visibility: hidden;
}

.historia >h3{
    width: 100%;
    text-align: center;
    font-size: 2em;
    visibility: hidden;
}

.historia >p{
    width: 100%;
    text-align: center;
    font-size: 2em;
    visibility: hidden;
}


.imagenes {
    height: 400px;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(60, 123, 241);
    margin-top: 2%;
    border-radius: 25px;
    opacity: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.imagenes >img{
    width: 32%;
    height: 90%;
    border-radius: 15px;
    opacity: 100%;
}

footer {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    width: 98%;
    height: 100px;
    background-color: #05353B;
    background-image: url(../imagenes/fondoHeader.png);
    background-size: 100%;
    background-position:bottom;
    background-repeat: no-repeat;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    margin-top: 2%;
    color: antiquewhite;
}

.card{
    background-color: rgb(0, 183, 255);
    width: 30%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    border-radius: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
    border: 0.5px solid gray;
}

.cardProd{
    background-color: rgb(0, 183, 255);
    width: 19%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 0.5px solid gray;
}

.imagenesOfertas{
    width:90%;
    height: 45%;
    border-radius: 10px;
}

.card > h2 {
    color: black;
    width: 100%;
    text-align: center;
}

.card > p {
    color: black;
    width: 100%;
    text-align: center;
}

.card > img {
    width: 80%;
    height: 150px;
}

.cardProd > h2 {
    color: black;
    width: 100%;
    text-align: center;
}

.cardProd > p {
    color: black;
    width: 100%;
    text-align: center;
}

.cardProd > img {
    width: 80%;
    height: 150px;
}

.cardProd > input {
    width: 35%;
    border: 1px;
    border-radius: 5px;
}

.cardProd > button{
    width: 35%;
    border: 0px;
    border-radius: 5px;
    margin-left: 5px;
}

.cardProd > button:hover{
    color: white;
    background-color: gray;
}

.historia:hover {
    height: 400px;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(245, 230, 230);
    background-image: none;
    background-repeat: no-repeat;
    background-size:  70% ;
    background-position: center;
  
    margin-top: 2%;
    border-radius: 25px;
    opacity: 80%;
}

.historia:hover >h2{
    visibility: visible;
}

.historia:hover >h3{
    visibility: visible;
}

.historia:hover >p{
    visibility: visible;
}